# Imports for the project

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas import DataFrame as df
from scipy.stats import zscore
import seaborn as sns
import re

from ydata_profiling import ProfileReport
import sweetviz as sv

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

# Opening the csv and cleaning the data

df = pd.read_csv("./data/test.csv", na_values=[' ', '_', '_______'], low_memory=False)

def try_convert(value):
    try:
        return pd.to_numeric(value)
    except ValueError:
        try: return pd.to_datetime(value)
        except ValueError: return value

def clean_ssn(ssn):
    if re.match(re.compile(r'^\d{3}-\d{2}-\d{4}$'), ssn): return ssn
    else: return pd.NA

df['SSN'] = df['SSN'].apply(clean_ssn)
df.reset_index(drop=True, inplace=True)

df = df.map(try_convert)
df.dropna(inplace=True)
df.reset_index(drop=True, inplace=True)

In [17]:
df = pd.read_csv("./data/test.csv", na_values=[' ', '_', '_______'], low_memory=False)

# Função para tentar converter valores para numérico ou data
def try_convert(value):
    try:
        return pd.to_numeric(value)
    except ValueError:
        try: 
            return pd.to_datetime(value)
        except ValueError: 
            return value

# Função para limpar o SSN
def clean_ssn(ssn):
    if re.match(re.compile(r'^\d{3}-\d{2}-\d{4}$'), ssn): 
        return ssn
    else: 
        return pd.NA

# Aplicar a limpeza do SSN
df['SSN'] = df['SSN'].apply(clean_ssn)
df.reset_index(drop=True, inplace=True)

# Aplicar a conversão de valores
df = df.applymap(try_convert)

# Remover linhas com valores ausentes
df.dropna(inplace=True)
df.reset_index(drop=True, inplace=True)

# Verificar dados duplicados
duplicados = df.duplicated()
linhas_duplicadas = df[duplicados]

# Imprimir as linhas duplicadas, se houver
if not linhas_duplicadas.empty:
    print("Linhas duplicadas encontradas:")
    print(linhas_duplicadas)
else:
    print("Não foram encontradas linhas duplicadas.")

/var/folders/nm/hxs4p4910kdbl0j_j_d85hsc0000gn/T/ipykernel_68608/4191260812.py:25: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(try_convert)

Não foram encontradas linhas duplicadas.

In [19]:
desc_stats = df.describe()
# Exibir as estatísticas descritivas calculadas
print("Estatísticas Descritivas:")
desc_stats

Estatísticas Descritivas:

,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Utilization_Ratio,Total_EMI_per_month
count,18191.000000,18191.000000,18191.000000,18191.000000,18191.000000,18191.000000,18191.000000,18191.000000,18191.000000
mean,4016.783706,16.518718,22.684020,72.754659,21.973448,10.672210,31.279919,32.189209,1568.905366
std,3082.763502,113.737888,127.462012,464.190442,15.121215,6.945265,201.756890,5.061518,8930.657130
min,303.645417,-1.000000,0.000000,1.000000,-5.000000,-6.400000,0.000000,21.248071,4.462837
25%,1572.262500,4.000000,4.000000,8.000000,11.000000,5.500000,5.000000,27.998741,43.182300
50%,2998.561667,6.000000,6.000000,15.000000,19.000000,9.610000,7.000000,32.210778,84.062322
75%,5700.771667,8.000000,7.000000,22.000000,29.000000,15.330000,11.000000,36.357608,181.463278
max,15204.633333,1783.000000,1499.000000,5759.000000,67.000000,35.810000,2583.000000,47.230104,82398.000000

In [11]:
df

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0x160a,CUS_0xd40,September,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,2022.0,Good,809.98,35.030402,22 Years and 9 Months,No,49.574949,236.642682,Low_spent_Small_value_payments,186.266702
1,0x160b,CUS_0xd40,October,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.053114,22 Years and 10 Months,No,49.574949,21.46538,High_spent_Medium_value_payments,361.444004
2,0x1623,CUS_0x2dbc,October,Langep,35,486-85-3974,Engineer,143162.64,12187.220000,1,...,3.0,Good,1303.01,35.685836,18 Years and 6 Months,No,246.992319,453.615131,Low_spent_Large_value_payments,788.11455
3,0x162e,CUS_0xb891,September,Jasond,55,072-31-6145,Entrepreneur,30689.89,2612.490833,2,...,4.0,Good,632.46,39.377219,17 Years and 11 Months,No,16.415452,69.107006,High_spent_Medium_value_payments,425.726626
4,0x1630,CUS_0xb891,November,Jasond,55,072-31-6145,Entrepreneur,30689.89,2612.490833,2,...,4.0,Good,632.46,36.824468,18 Years and 1 Months,No,16.415452,191.886244,Low_spent_Medium_value_payments,332.947388
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18186,0x25fd7,CUS_0xaf61,October,Chris Wickhamm,50,133-16-7738,Writer,37188.1,3097.008333,1,...,3.0,Good,620.64,23.986021,30 Years and 6 Months,No,84.205949,__10000__,Low_spent_Large_value_payments,270.754039
18187,0x25fd8,CUS_0xaf61,November,Chris Wickhamm,50,133-16-7738,Writer,37188.1,3097.008333,1,...,3.0,Good,620.64,25.708414,30 Years and 7 Months,No,84.205949,183.365628,Low_spent_Large_value_payments,312.129256
18188,0x25fe2,CUS_0x8600,September,Sarah McBridec,29,031-35-0942,Architect,20002.88,1929.906667,10,...,9.0,Bad,3571.7,32.391288,6 Years and 4 Months,Yes,60.964772,107.210742,Low_spent_Small_value_payments,314.815153
18189,0x25fe3,CUS_0x8600,October,Sarah McBridec,29,031-35-0942,Architect,20002.88,1929.906667,10,...,12.0,Bad,3571.7,37.528511,6 Years and 5 Months,Yes,60.964772,71.794421,Low_spent_Small_value_payments,350.231473
18190,0x25fef,CUS_0x942c,October,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,7.0,Good,502.38,36.858542,32 Years and 0 Months,No,35.104023,__10000__,Low_spent_Large_value_payments,349.726332

In [12]:
df.dtypes

ID                           object
Customer_ID                  object
Month                        object
Name                         object
Age                          object
SSN                          object
Occupation                   object
Annual_Income                object
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                  object
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment       object
Changed_Credit_Limit        float64
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt             object
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly      object
Payment_Behaviour            object
Monthly_Balance              object
dtype: object